{% load static %}
{% include 'app/header_base.html' %}
<!doctype html>
<html lang="en">

<head>

	<!-- Basic Page Needs
================================================== -->
	<title>Hireo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
================================================== -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/colors/blue.css' %}">

</head>

<body class="gray">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header Container
================================================== -->
		{% block header %}
		{% endblock %}
		<div class="clearfix"></div>
		<!-- Header Container / End -->


		<!-- Dashboard Container -->
		<div class="dashboard-container">

			<!-- Dashboard Sidebar
	================================================== -->
			{% include 'app/leftsidebar.html' %}
			<!-- Dashboard Sidebar / End -->


			<!-- Dashboard Content
	================================================== -->
			<div class="dashboard-content-container" data-simplebar>
				<div class="dashboard-content-inner">

					<!-- Dashboard Headline -->
					<div class="dashboard-headline">
						<h3>Settings</h3>

						<!-- Breadcrumbs -->
						<nav id="breadcrumbs" class="dark">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">Dashboard</a></li>
								<li>Settings</li>
							</ul>
						</nav>
					</div>

					<!-- Row -->
					<form action="{% url 'update-user' pk=request.session.id %}" method="POST"
						enctype="multipart/form-data">{% csrf_token %}
						<div class="row">

							<!-- Dashboard Box -->
							<div class="col-xl-12">
								<div class="dashboard-box margin-top-0">

									<!-- Headline -->
									<div class="headline">
										<h3><i class="icon-material-outline-account-circle"></i> My Account</h3>
									</div>

									<div class="content with-padding padding-bottom-0">

										<div class="row">

											<div class="col-auto">
												<div class="avatar-wrapper" data-tippy-placement="bottom"
													title="Change Avatar">
													{% if user.ProfilePic == 'abc' %}
													<img class="profile-pic" src="images/user-avatar-placeholder.png"
														alt="" />
													{% else %}
													<img class="profile-pic" src="{{MEDIA_URL}}{{user.ProfilePic.url}}"
														alt="" />
													{% endif %}
													<div class="upload-button"></div>
													<input type="file" class="file-upload" name="img" />
												</div>
											</div>

											<div class="col">
												<div class="row">

													<div class="col-xl-6">
														<div class="submit-field">
															<h5>First Name</h5>
															<input type="text" class="with-border" name="fname"
																placeholder="{{user.Firstname}}">
														</div>
													</div>

													<div class="col-xl-6">
														<div class="submit-field">
															<h5>Last Name</h5>
															<input type="text" class="with-border" name="lname"
																placeholder="{{user.Lastname}}">
														</div>
													</div>

													<div class="col-xl-6">
														<!-- Account Type -->
														<div class="submit-field">
															<h5>Account Type</h5>
															<div class="account-type">
																{% if request.session.role == 'Artist' %}
																<div>
																	<input type="radio" name="account-type-radio"
																		id="freelancer-radio" class="account-type-radio"
																		checked />
																	<label for="freelancer-radio"
																		class="ripple-effect-dark"><i
																			class="icon-material-outline-account-circle"></i>
																		Artist</label>
																</div>
																{% elif request.session.role == 'Customer' %}
																<div>
																	<input type="radio" name="account-type-radio"
																		id="employer-radio" class="account-type-radio"
																		checked />
																	<label for="employer-radio"
																		class="ripple-effect-dark"><i
																			class="icon-material-outline-business-center"></i>
																		Customer</label>
																</div>
																{% endif %}
															</div>
														</div>
													</div>

													<div class="col-xl-6">
														<div class="submit-field">
															<h5>Email</h5>
															<input type="text" class="with-border" name="email"
																placeholder="{{request.session.email}}">
														</div>
													</div>
													{% if request.session.role == 'Customer' %}
													<div class="col-xl-6">
														<div class="submit-field">
															<h5>Password</h5>
															<input type="text" class="with-border" name="passwd"
																placeholder="{{user.Customer.Password}}">
														</div>
													</div>
													{% elif request.session.role == 'Artist' %}
													<div class="col-xl-6">
														<div class="submit-field">
															<h5>Password</h5>
															<input type="text" class="with-border" name="passwd"
																placeholder="{{user.Artist.Password}}">
														</div>
													</div>
													{% endif %}
													{% if request.session.role == 'Artist' %}
													<div class="col-xl-6">
														<div class="submit-field">
															<h5>Who You Are</h5>
															{% if user.Designation == 'Who You Are' %}
															<input type="text" class="with-border" required name="Designation"
																placeholder="{{user.Designation}}">
															{% else %}
															<input type="text" class="with-border" name="Designation"
																placeholder="{{user.Designation}}">
															{% endif %}
														</div>
													</div>
													{% endif %}
													<div class="col-xl-6">
														<div class="submit-field">
															<h5>Phone Number</h5>
															<input type="tel" maxlength="10" class="with-border"
																name="phone" placeholder="{{user.PhoneNumber}}">
														</div>
													</div>
													{% if request.session.role == 'Artist' %}
													<div class="col-xl-6">
														<div class="submit-field">
															<h5>Rate</h5>
															<input type="text" maxlength="10" class="with-border"
																name="rate" placeholder="{{user.rate}}$">
														</div>
													</div>
													{% endif %}
													<div class="col-xl-6">
														<div class="submit-field">
															<h5>Location</h5>
															<select class="selectpicker with-border" name="location"
																data-size="7" title="{{user.Loc}}"
																data-live-search="true">
																<option>Andhra Pradesh</option>
																<option>Arunachal Pradesh</option>
																<option>Assam</option>
																<option>Bihar</option>
																<option>Chhattisgarh</option>
																<option>Delhi</option>
																<option>Goa</option>
																<option>Gujarat</option>
																<option>Bangladesh</option>
																<option>Haryana</option>
																<option>Himachal Pradesh</option>
																<option>Jharkhand</option>
																<option>Karnataka</option>
																<option>Kerala</option>
																<option>Madhya Pradesh</option>
																<option>Maharashtra</option>
																<option>Manipur</option>
																<option>Meghalaya</option>
																<option>Mizoram</option>
																<option>Nagaland</option>
																<option>Odisha</option>
																<option>Punjab</option>
																<option>Rajasthan</option>
																<option>Sikkim</option>
																<option>Tamil Nadu</option>
																<option>Telangana</option>
																<option>Tripura</option>
																<option>Uttar Pradesh</option>
																<option>Uttarakhand</option>
																<option>West Bengal</option>
																<option>Jammu and Kashmir</option>
															</select>
														</div>
													</div>
													{% if request.session.role == 'Artist' %}
													<div class="col-xl-12">
														<div class="submit-field">
															<h5>Introduce Yourself</h5>
															<textarea cols="30" rows="5" name="intro"
																class="with-border"
																placeholder="{{user.Intro}}"></textarea>
														</div>
													</div>
													{% endif %}
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

							<!-- Button -->
							<div class="col-xl-12">
								<input type="submit" class="button ripple-effect big margin-top-30"
									value="Save Changes">
							</div>

						</div>
					</form>
					<!-- Row / End -->

					<!-- Footer -->
					<div class="dashboard-footer-spacer"></div>
					<div class="small-footer margin-top-15">
						<div class="small-footer-copyrights">
							© 2018 <strong>Hireo</strong>. All Rights Reserved.
						</div>
						<ul class="footer-social-links">
							<li>
								<a href="#" title="Facebook" data-tippy-placement="top">
									<i class="icon-brand-facebook-f"></i>
								</a>
							</li>
							<li>
								<a href="#" title="Twitter" data-tippy-placement="top">
									<i class="icon-brand-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#" title="Google Plus" data-tippy-placement="top">
									<i class="icon-brand-google-plus-g"></i>
								</a>
							</li>
							<li>
								<a href="#" title="LinkedIn" data-tippy-placement="top">
									<i class="icon-brand-linkedin-in"></i>
								</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<!-- Footer / End -->

				</div>
			</div>
			<!-- Dashboard Content / End -->

		</div>
		<!-- Dashboard Container / End -->

	</div>
	<!-- Wrapper / End -->


	<!-- Scripts
================================================== -->
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/jquery-migrate-3.0.0.min.js' %}"></script>
	<script src="{% static 'js/mmenu.min.js' %}"></script>
	<script src="{% static 'js/tippy.all.min.js' %}"></script>
	<script src="{% static 'js/simplebar.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-slider.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
	<script src="{% static 'js/snackbar.js' %}"></script>
	<script src="{% static 'js/clipboard.min.js' %}"></script>
	<script src="{% static 'js/counterup.min.js' %}"></script>
	<script src="{% static 'js/magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/slick.min.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>

	<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
	<script>
		// Snackbar for user status switcher
		$('#snackbar-user-status label').click(function () {
			Snackbar.show({
				text: 'Your status has been changed!',
				pos: 'bottom-center',
				showAction: false,
				actionText: "Dismiss",
				duration: 3000,
				textColor: '#fff',
				backgroundColor: '#383838'
			});
		});
	</script>

	<!-- Chart.js // documentation: http://www.chartjs.org/docs/latest/ -->
	<script src="js/chart.min.js"></script>
	<script>
		Chart.defaults.global.defaultFontFamily = "Nunito";
		Chart.defaults.global.defaultFontColor = '#888';
		Chart.defaults.global.defaultFontSize = '14';

		var ctx = document.getElementById('chart').getContext('2d');

		var chart = new Chart(ctx, {
			type: 'line',

			// The data for our dataset
			data: {
				labels: ["January", "February", "March", "April", "May", "June"],
				// Information about the dataset
				datasets: [{
					label: "Views",
					backgroundColor: 'rgba(42,65,232,0.08)',
					borderColor: '#2a41e8',
					borderWidth: "3",
					data: [196, 132, 215, 362, 210, 252],
					pointRadius: 5,
					pointHoverRadius: 5,
					pointHitRadius: 10,
					pointBackgroundColor: "#fff",
					pointHoverBackgroundColor: "#fff",
					pointBorderWidth: "2",
				}]
			},

			// Configuration options
			options: {

				layout: {
					padding: 10,
				},

				legend: { display: false },
				title: { display: false },

				scales: {
					yAxes: [{
						scaleLabel: {
							display: false
						},
						gridLines: {
							borderDash: [6, 10],
							color: "#d8d8d8",
							lineWidth: 1,
						},
					}],
					xAxes: [{
						scaleLabel: { display: false },
						gridLines: { display: false },
					}],
				},

				tooltips: {
					backgroundColor: '#333',
					titleFontSize: 13,
					titleFontColor: '#fff',
					bodyFontColor: '#fff',
					bodyFontSize: 13,
					displayColors: false,
					xPadding: 10,
					yPadding: 10,
					intersect: false
				}
			},


		});

	</script>


	<!-- Google Autocomplete -->
	<script>
		function initAutocomplete() {
			var options = {
				types: ['(cities)'],
				// componentRestrictions: {country: "us"}
			};

			var input = document.getElementById('autocomplete-input');
			var autocomplete = new google.maps.places.Autocomplete(input, options);

			if ($('.submit-field')[0]) {
				setTimeout(function () {
					$(".pac-container").prependTo("#autocomplete-container");
				}, 300);
			}
		}
	</script>

	<!-- Google API -->
	<script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initAutocomplete"></script>


</body>

</html>